<h1>Bienvenue sur l'interface administrateur beau gosse</h1>

<div class="container">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <br> <br> <br>

    <div class="btn-group" role="group" aria-label="Basic example">
      <a type="button" href="<%=user_admins_path%>" class="btn btn-primary">Voir les utilisateurs</a>
      <a type="button" href="#" class="btn btn-secondary">Middle</a>
      <a type="button" href="#" class="btn btn-secondary">Right</a>
    </div>


    </div>    
  </div>    
</div>    

<br> <br> <br> <br> <br> <br>